@charset "UTF-8";

html, body{
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font: 16px / 1.4 'Helvetica', 'Arial', sans-serif;
  /* padding-top: 60px; */
}


.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin: 50px;
  text-align: center;     
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.font_size_3rem{font-size: 3rem; }

#mainNav{background-color: transparent; transition: all 1s;}

#mainNav.navbar-shrink {background-color: #4402ff;}


#mainNav .navbar-nav .nav-item .nav-link {color: #fff;}
#mainNav .navbar-nav .nav-item .nav-link:hover{color: #3de2a3; }

@media (min-width: 990px) {
#mainNav{background-color: transparent; transition: all 1s;}
#mainNav.on{background-color: #fff; }
#mainNav .navbar-nav .nav-item .nav-link {color: #4402ff;}
}


.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 0);
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
}

#mainNav .navbar-brand img {
  height: 3rem;
  transition: height 0.3s ease-in-out;
}
#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 2rem;
  }

header.masthead{position: relative;}
header.masthead::before{content: ''; display: block;
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);}
header.masthead .btn{margin-top: 50px;}

.container{position: relative;}
.masthead h2, .masthead span.txt-rotate{font-size: 3rem; font-family: 'Kaushan Script', cursive; font-weight: 300;
padding: 5rem 0 5rem 0;}

.txt-rotate{color: #3de2a3;}
.dg{color: #3de2a3;}

#Skills .tran01{opacity: 0; transform: translateY(100px); transition: all 0.7s; margin: 0 auto;}/*@@@*/
#Skills .tran01.up{opacity: 1; transform: translateY(0)}

.btn-primary {
  color: #3de2a3;
  background-color: transparent;
  border-color: #3de2a3;
  border-radius: 50%;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3de2a3; 
  border-color: #3de2a3;
}
.text-primary {
  color: #3de2a3 !important;
}


.port_web .tran02{opacity: 0; transform: translateY(100px); transition: all 0.7s; margin: 0 auto;}/*@@@*/
.port_web .tran02.up{opacity: 1; transform: translateY(0)}
.port_mob .tran02_m{opacity: 0; transform: translateY(100px); transition: all 0.7s; margin: 0 auto;}/*@@@*/
.port_mob .tran02_m.up{opacity: 1; transform: translateY(0)}

ul.tab_tit{margin-bottom: 0rem !important;}
.tab_tit li{padding: 15px 30px; float: left; transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.02); border-right: 2px solid #ccc;
  border-top-left-radius: 5px; border-top-right-radius: 20px; cursor: pointer;
}
.tab_tit li:hover{background-color: #eee; color: #4402ff; font-weight: 700;}
.tab_tit li.on{background-color: #eee; color: #4402ff; font-weight: 700;}

.tab_con > div{width: 100%; height: 700px; padding: 50px 30px; display: none; border-radius: 10px; }
.tab_con > div:nth-child(1){display: block; background: url(../assets/img/portfolio/thum02.png) no-repeat center / cover #eee;}
.tab_con > div:nth-child(2){display: none; background: url(../assets/img/portfolio/thum03.png) no-repeat center / cover #eee ;}
.tab_con > div:nth-child(3){display: none; background: url(../assets/img/portfolio/thum04.png) no-repeat center / cover #eee;}
.tab_con > div:nth-child(4){display: none; background: url(../assets/img/portfolio/thum05.png) no-repeat center / cover #eee;}
.tab_con > div:nth-child(5){display: none; background: url(../assets/img/portfolio/thum06.png) no-repeat center / cover #eee;}
/* .tab_con > div:nth-child(6){display: none; background: url(../assets/img/portfolio/thum00.png) no-repeat center / cover #eee;} */

.tab_con .portfolio-item{position: absolute; bottom: 100px; left: 70px;}

/* .tab_con .port{background-image: url(../assets/img/about/4.jpg) no-repeat center / cover;} */

/* 
@media (min-width: 768px) {
.col-md-4 img{width: 200px;}
}
@media (min-width: 1200px) {
  .col-md-4 img{width: 248px;}
  } */

.portfolio-caption{text-align: left;}
.portfolio-caption > div{padding: 10px 0;}

.my-3{padding-top: 30px;}

.svg-inline--fa.fa-w-20{width: 50%;}
.subheading{color: #3de2a3;}

h2.section-heading{color: #4402ff; opacity: 60%;}


.modal-body {
  color: #333;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-content {
  background-color: rgba(255 , 255, 255, 1);
  /* width: max-content; */
  margin: 0 auto;
}


.portfolio-modal{color: #fff;}
.portfolio-modal .close-modal {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
#portfolio_m .portfolio-item{
  background-color: #fff; padding: 0 2rem;
}
#portfolio_m .portfolio-item .portfolio-link{
  width: 100%;
  height: 100%;
  overflow: hidden; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#portfolio_m .portfolio-caption{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#portfolio_m .portfolio-item .portfolio-link:hover .img-fluid{
  transform: scale(120%);
  transition: all 0.5s;
}

.port_web .portfolio-link{
  padding: 1rem 1.3rem;
  margin-right: 1rem;
  color: #4402ff;
  background-color: transparent;
  border: 1px solid #4402ff;
  border-radius: 50%;
  text-decoration: none;
}
.port_web .site_link{
  padding: 1rem 2.4rem;
  margin-right: 1rem;
  color: #4402ff;
  background-color: transparent;
  border: 1px solid #4402ff;
  border-radius: 50%;
  text-decoration: none;
}

.portfolio-link:hover, .site_link:hover{color: #fff;
  background-color: #4402ff;}




/* #about .timeline-heading{padding-left: 50px; text-align: left; width: 40%;}
#about .timeline-heading h4:nth-child(2){text-align: right;} */

#about .profile{height: 300px; background: url(../assets/img/about/profile.jpg) no-repeat center / contain;
color: transparent; font-size: 0 ;}
#about .timeline{text-align: left;}
#about .timeline:before {display: none;}
#about .timeline li{min-width: 420px; font-size: 1rem; padding: 20px;  margin-bottom: 0px;}
#about .timeline li h4{color: #9dacd3;}
#about .tran03{opacity: 0; transform: translateY(100px); transition: all 0.7s; margin: 0 auto; }/*@@@*/
#about .tran03.up{opacity: 1; transform: translateY(0) }

#about .trans03_le{opacity: 0; transform: translateX(-100px); transition: all 0.7s;}/*@@@*/
#about .trans03_le.le{opacity: 1; transform: translateX(0) }
#about .trans03_ri{opacity: 0; transform: translateX(100px); transition: all 0.7s;}/*@@@*/
#about .trans03_ri.ri{opacity: 1; transform: translateX(0) }

/* #License{height: 90vh;} */
#License a{display: block; color:#666; text-decoration:none; margin-top: 20px;} 
#License a:hover{color: #3de2a3;}
#License .tran04{
  width: 80%; background-color: #fff; padding: 50px;
  opacity: 0; transform: translateY(100px); transition: all 0.7s; margin: 0 auto;}/*@@@*/
#License .tran04.up{opacity: 1; transform: translateY(0)}

#License a.down{
  width: 140px;
  padding: 10px;
  margin: 0 auto;
  margin-right: 1rem;
  margin-top: 20px;
  display: inline-block;
  color: #4402ff;
  background-color: transparent;
  border: 1px solid #4402ff;
  border-radius: 50%;
  text-decoration: none;
} 
#License a.down:hover{color: #fff;
  background-color: #3de2a3;
  border: 1px solid #3de2a3;}



  .go_top{display: block; width: 80px; height: 40px; padding: 10px; 
  background-color: rgba(10, 10, 10, 0.5); border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 50%; 
  font-weight: 500; text-align: center; line-height: 18px; color: white; text-decoration: none;
  position: fixed; bottom: 30px; right: 5%;} 
  .go_top:hover{color: #3de2a3;}
  

  .port_web{display: none !important;}
  .port_mob{display: block !important;}

    @media (min-width: 576px) {
      #about .profile{height: 500px;}
    }


    @media (min-width: 768px) {

      }
    

    @media (min-width: 992px) {
      /* header.masthead {
      padding-top: 30rem;
      padding-bottom: 25rem;
      } */
      
      .masthead h2, .masthead span.txt-rotate{font-size: 5rem;}
      .port_web{display: block !important;}
      .port_mob{display: none !important;}

      .timeline > li {
        width: calc(50% - 20px);
        margin-right: 20px;
        float: left;
        min-height: 210px;
      }
      .timeline > li:last-child{margin-right: 0;}
      #about .timeline li:nth-child(2n-1){padding-left: 100px;
      }
      
    

    @media (min-width: 1200px) {
     }
      
    }


    @media (min-width: 1400px) {
      #about .timeline li:nth-child(2n-1){padding-left: 200px;}
      
    }

